{% extends 'add_upd_del.html' %}

{% block table_header %}
  <tr>
    <th>id</th>
    <th>date</th>
    <th>name</th>
    <th>position</th>
    <th>storage_id</th>
  </tr>
{% endblock table_header %}

{% block records %}
  {% for incom in incoming %}
    <tr border="1">
      {% for inc in incom %}
        <td>
           <a href="{% url 'incoming_set' incom.0 %}"> {{inc}} </a>
        </td>
      {% endfor %}
    </li>
  {% endfor %}
{% endblock records %}

{% block add_field %}

  <div class="inputs">
    <input class="input" v-model="name" placeholder="Имя">
    <input class="input" v-model="position" placeholder="Должность">
    <input class="input" v-model="storage_number" placeholder="Номер склада">
  </div>

{% endblock add_field %}

{% block set %}
    {{incoming|json_script:"djangoData"}}
{% endblock set %}