{% extends 'base.html' %}

{% block content %}
    
    {% block set %}
    {% endblock set %}


    <div v-if="add" class="forms" id="add">
      {% block add_field %}
      {% endblock add_field %}
        <div class="actions">
          <div class="action" v-on:click="add=false">Отменить</div>
          <div class="action">Добавить</div>
        </div>
    </div>

    <div v-if="upd" class="forms" id="upd">
        <div class="inputs">
          <input class="input" v-model="column" placeholder="Столбец">
          <input class="input" v-model="number" placeholder="id">
          <input class="input" v-model="new_val" placeholder="Новое значение">
        </div>
        <div class="actions">
          <div class="action" v-on:click="upd=false">Отменить</div>
          {% csrf_token %}
          <div class="action" v-on:click="send_data">Добавить</div>
        </div>
    </div>

   <div v-if="del" class="forms" id="del">
        <div class="actions">
          <div class="action" v-on:click="del=false">Отменить</div>
          <div class="action" v-on:click="send_data">добавить</div>
        </div>
    </div>

    <div id="buttons" class="actions">
      <div class="action"> Назад </div>
      <div v-on:click="show_add_form" class="action"> Добавить </div>
      <div v-on:click="show_upd_form" class="action"> Обновить </div>
      <div v-on:click="show_del_form" class="action"> Удалить </div>
    </div>  
    
    <div id="app">
        <table style="margin: auto;" border="1" width="100%" cellpadding="5">
            <tr >
              {% block table_header %}
                
              {% endblock table_header %}
            </tr >
            
            <tr border="1" v-for="record in records">
              <td v-for="rec in record" >
                [[rec ]]
              </dev>
            </li>

        </table>
    </div>

    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

        let jsVariable = JSON.parse(document.getElementById('djangoData').textContent);
        var app = new Vue({
          delimiters: ['[[', ']]'],
          el: '#app',
          data: {
              records: jsVariable,
          }
        });

        var add = new Vue({
          el: '#add',
          data: {
            add: false
          }
        })

        var upd = new Vue({
          el: '#upd',
          data: {
            upd: false,
            column: "",
            number: "",
            new_val: "",
            send_data: send_data
          }
        })

        var del = new Vue({
          el: '#del',
          data: {
            del: false
          }
        })


        var buttons = new Vue({
          el: "#buttons",
          data:{
            "add": "Добавить новую строку",
            "del": "Удалисть строку",
            "upd": "Изменить строку"
          },
          methods:{
            show_add_form: show_add_form,
            show_upd_form: show_upd_form,
            show_del_form: show_del_form,
          }
        })

        function show_add_form(){
          add.add = true
        }

        function show_upd_form(){
          upd.upd = true
        }

        function show_del_form(){
          del.del = true
        }

        function send_data(){
          axios.put('#', {
          data: {
            column: upd.column,
            number: upd.number,
            new_val: upd.new_val
          }
          })
          upd.upd = false
        }

        

    </script>

{% endblock content %}