{% extends 'base.html' %}

{% block content %}
    
    {% block set %}
    {% endblock set %}

    <div class="actions">
      <div class="action" id="add"> Добавить </div>
      <div class="action" id="del"> Удалить </div>
      <div class="action" id="upd"> Обновить </div>
    </div>  
    
    <div id="app">
        <table style="margin: auto;" border="1" width="100%" cellpadding="5">
            <tr>
              {% block table_header %}
                
              {% endblock table_header %}
            </tr >
            
            <tr border="1" v-for="record in records">
              <td v-for="rec in record" >
                [[rec ]]
              </dev>
            </li>

        </table>
    </div>


    <script>
        let jsVariable = JSON.parse(document.getElementById('djangoData').textContent);
        var app = new Vue({
          delimiters: ['[[', ']]'],
          el: '#app',
          data: {
              records: jsVariable,
          }
        });
    </script>

{% endblock content %}