{% extends 'base.html' %}

{% block content %}
    
    {% block set %}
    {% endblock set %}

    <div v-if="seen" id="form">
        <div v-on:click="seen=false">отменить</div>
    </div>

    <div id="button" class="actions">
      <div v-bind:title="back" class="action" id="upd"> Назад </div>
      <div v-bind:title="add" class="action" id="add"> Добавить </div>
      <div v-bind:title="del" class="action" id="del"> Удалить </div>
      <div v-bind:title="upd" class="action" id="upd"> Обновить </div>
    </div>  
    
    <div id="app">
        <table style="margin: auto;" border="1" width="100%" cellpadding="5">
            <tr>
              {% block table_header %}
                
              {% endblock table_header %}
            </tr >
            
            <tr border="1" v-for="record in records">
              <td v-for="rec in record" >
                [[rec ]]
              </dev>
            </li>

        </table>
    </div>


    <script>
        let jsVariable = JSON.parse(document.getElementById('djangoData').textContent);
        var app = new Vue({
          delimiters: ['[[', ']]'],
          el: '#app',
          data: {
              records: jsVariable,
          }
        });

        var button = new Vue({
          el: "#button",
          data:{
            "add": "Добавить новую строку",
            "del": "Удалисть строку",
            "upd": "Изменить строку"
          }
        })

        var form = new Vue({
          el: '#form',
          data: {
            seen: true
          }
        })
    </script>

{% endblock content %}