{% load static %}
<!DOCKTYPE html>
<html>
    <head>
        {% block title %}
            <title>
                start
            </title>
        {% endblock title %}
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- версия для разработки, отображает полезные предупреждения в консоли -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="{% static 'storage/style.css' %}">
    </head>
    <body class="background">
        <div class="main">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>